h1.main-header {
	
	color: green;
	z-index: 99;
	margin-left: 9%;
	font-family: calibri;
	font-size: 4vw;
	font-variant: small-caps;
	shadow-color: #616161;
	shadow-size: 1;
	
}
div.main-header {
	
	width: 99%;
	height: 10%;
	padding: 3.8%;
	background-color: #393939;
	z-index: 99;
	
	
}

@keyframes navbar-animation {
	
	100% {
	background-color: #0f0f0f;
	color: #bfbfbf;
	}
}

ul.nav-links {
	
	list-style-type: none;
	overflow: hidden;
	
}


li a.nav-links {
	
	float: left;
	padding: 1%;
	margin-left: 4%;
	margin-right: 4%;
	background-color: #393950;
	color: #008040;
	font-family: arial;
	
	
}

li a:hover.nav-links {

	animation: navbar-animation 0.8s ease-in-out 0s 1 both;
	
	
}



