/*
wahahaha
*/
body {
	background-image: url("../Images/Background-1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.content-box {

	float: left;
	overflow: hidden;
	margin: 23.2% 0px 0px 20%;
	padding: 5%;
	text-align: center;
	width: 50%;
	background-color: rgba(60, 60, 60, 0.69);
	color: #c0c0c0;
	font-size: 132%;
	text-shadow: 1px 1px 2px #0f0f0f;
	font-family: comic sans ms;

}

@keyframes basicHover {
  0% {
				background-color: rgba(40, 40, 40, 0.69);

	}

	100% {
	  backgrond-color: rgba(20, 20, 20, 0.69);

	}

}

.resource-image {

	float: left;
	height: 12%;
	margin-left: 15%;

}

.resource-link {
	text-decoration: none;
}

.resource-text {
		font-family: times cursive;
		background-color: rgba(40, 40, 40, 0.69);
		padding: 1.8%;
		transition: 0.4s;

}

.resource-text:hover {

	background-color: rgb(40, 40, 40);

}
