/*
wahahaha
*/
body {
	background-image: url("../Images/Background-1.png");
}

.content-box {
	
	
	position: absolute;
	float: left;
	overflow: auto;
	margin-top: 30%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 5%;
	text-align: center;
	width: 50%;
	background-color: rgba(60, 60, 60, 0.6);
	color: #c0c0c0;
	font-size: 200%;
	
}





