/*
wahahaha
*/
body {
	background-image: url("../Images/Background-1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.content-box {

	float: left;
	height: 100%;
	flex: initial;
	overflow: hidden;
	align-self: center;
	margin: 16% 0px 0px 13%;
	padding: 5%;
	text-align: center;
	width: 64%;
	background-color: rgba(60, 60, 60, 0.69);
	color: rgb(200, 200, 200);
	font-size: 132%;
	text-shadow: 1px 1px 2px #0f0f0f;
	font-family: comic sans ms;

}

@keyframes basicHover {
  0% {
				background-color: rgba(40, 40, 40, 0.69);

	}

	100% {
	  backgrond-color: rgba(20, 20, 20, 0.69);

	}

}

.resource-image {

  float: right;
	position: relative;
	height: 12%;
	margin-left: 15%;

}

.resource-link, .resource-link:visited {
	display: inline-flex;
	overflow: hidden;
	font-size: 1.9vw;
	background-color: rgba(40, 40, 40, 0.69);
	padding: 1.8% 12.6%;
	margin: 1.6vw;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	color: green;
	transition: 0.4s;

}

.resource-link:hover, .resource-link:active {

	background-color: rgb(30, 30, 30);
	transition: 0.4s;

}


.content-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10%, 50%));
	font-size: 1.6vw;
	font-family: inherit;
	background-color: rgba(40, 80, 30, 0.72);
	color: rgb(160, 160, 160);
	padding: 3.6%;
	margin: 1.2vw;
  text-decoration: none;
	text-shadow: 0.1vw 0.1vw 0.1vw black;

}

.content-container:hover {
	background-color: rgba(20, 40, 15, 0.96);
	color: rgb(190, 190, 190);
	transition: 0.3s;
}

.content-download, .content-download:visited {
	text-decoration: none;
	background-color: rgba(10, 10, 10, 1.0);
	padding: 1.8% 5.2%;
	color: rgb(170, 170, 170);
	transition: 0.3s;

}

.content-download:hover, .content-download:active {
	color: rgb( 120, 120, 120);
	background-color: rgba(10, 10, 10, 1.0);
	transition: 0.5s;

}

.content-view, .content-view:visited {
	text-decoration: none;
	background-color: rgba(10, 10, 10, 1.0);
	color: rgb(170, 170, 170);
	padding: 1.6%;
	transition: 0.3s;

}

.content-view:hover, .content-view:active {
	color: rgb( 120, 120, 120);
	background-color: rgba(10, 10, 10, 1.0);
	transition: 0.5s;

}

#copyright {
  position: relative;
	overflow: hidden;
	z-index: 99;
	font-size: 0.8vw;
	float: right;
	padding: 0.6% 6%;
	color: rgb(120, 120, 120);
	font-family: comic sans ms;
	font-weight: bold;
	text-align: right;

}
