div.main-header {
	z-index: 99;
	top: 0%;
	width: 100%;
	padding-bottom:1.2%;
	background-color: rgba(55, 52, 55, 0.89);
	opacity: 80%;
	position: fixed;
	overflow: hidden;
	text-shadow: 1px 1px 1px #0f0f0f;
	font-family: calibri;
	transition: 0.6s top;

}

.main-header, .main-header:visited, .main-header:hover, .main-header:active {
	outline: none;
	text-decoration: none;
	margin-left: 4.8%;
	font-size: 3.6vw;
	color: green;
	font-variant: small-caps;
	text-shadow: 1px 1px 3px #004000;
	transition: 0.2s;

}

body.scrolled .main-header {
	top: -18%vw;
	transition: 0.6s;

}


#nav-bar, #navigation {
	width: 62%vw;
	float: left;
	display: inline;
	overflow: hidden;
	background-color: rgba(28, 28, 30, 1.0);
}


@keyframes navbar-animation {
	100% {
	background-color: rgba(10, 10, 10, 1.0);
	color: #c2dcb4;
	}
}

.nav-links {

	display: inline;
	outline: none;
	text-decoration: none;
	padding: 1%;
	margin-left: 2.8%;
	background-color: rgba(28, 28, 30, 1.0);
	color: #449904;
	font-family: arial;
	font-size: 1.2vw;
	font-variant: normal;

}
a:hover.nav-links, a:active.nav-links {
	animation: navbar-animation 0.3s ease-in-out 0s 1 both;

}
