div.main-header {
	
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.6%;
	background-color: rgba(55, 52, 55, 0.89);
	opacity: 80%;
	position: fixed;
	overflow: hidden;
	color: #c5d3ab;
	text-shadow: 1px 1px 1px #0f0f0f;
	font-family: calibri;

}


h1.main-header, a.main-header, a:active.main-header, a:hover.main-header, a:visited.main-header {
	
	outline: none;
	text-decoration: none;
	color: green;
	margin-left: 3.2%;
	font-family: calibri;
	font-size: 3.6vw;
	font-variant: small-caps;
	text-shadow: 1px 1px 3px #004000;

}

div.main-header h3#about {
	margin-left: 40%;
	
}

#nav-bar, #navigation {
	list-style-type: none;
	width: 62%;
	float: left;
	display: inline;
	overflow: hidden;
	background-color: rgba(58, 55, 58, 0.9);
}


@keyframes navbar-animation {
	100% {
	background-color: rgba(10, 10, 10, 1.0);
	color: #c2dcb4;
	}
}




.nav-links {
	
	display: block;
	outline: none;
	text-decoration: none;
	float: left;
	padding: 1%;
	margin-left: 2.8%;
	background-color: rgba(58, 55, 58, 0.9);
	color: #449904;
	font-family: arial;

}
a:hover.nav-links, a:active.nav-links {
	animation: navbar-animation 0.3s ease-in-out 0s 1 both;

}
